# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
*.env
*.ipynb_checkpoints

# Models & data
models/*.pkl
models/predictions_log.csv
data/raw/
data/processed/
*.parquet
*.csv

# IDE
.vscode/
.idea/
